# ignore everything in the root except the "wp-content" directory.
/*
!wp-content/
!.gitignore
.jscsrc
.jshintignore

#wp content stuff
wp-content/*
!wp-content/themes/
!wp-content/plugins/
wp-content/themes/resttest/
wp-content/themes/syntax/

# ignore specific themes
wp-content/themes/twenty*/

#ignore non-custom plugins
wp-content/plugins/*
!wp-content/plugins/menu-icons


#gulp stuff
node_modules/
.DS_Store
dist
.htaccess
wp-content/themes/portfolio/scss/.DS_Store
