/*----------------------------------------
# Footer
------------------------------------------*/
.site-footer{
  max-width: none;
  color:#fff;
  clear:both;
  padding: 20px 20px;
  margin-top:20px;
  background:rgba(0,0,0,.5);

  a {
  	color: $red;
  }
}