/*---------------------------------------
# 
# Homepage Stylings
#
------------------------------------------*/
  
.home{
	
	.site-header{
		border-radius: 50%;
		width:90vw;
		height:90vw;
	    max-width: 280px;
	    max-height: 280px;
	    padding: 55px 40px;
	    margin: 20px auto;
	    display: flex;
  		align-items: center;
  		justify-content: center;
	    text-align: center;
	    background:rgba(0,0,0,.2);
	    transition:all 2s;

	    @include media($mobile){
	    	position: relative;
	   		top: 0;
	   		left: 15%;

	    }

	    &.darken{
	    	background:rgba(0,0,0,.6);
	    }

	    .name{
	    	text-align: center;
	    	line-height: 1.25em;
	    	max-width: 100%;
	    }
	}

	#content .section-inner{
		max-width: none;
	}
	#primary{
		@include outer-container;
		@include span-columns(12);
		float:none;
		padding-bottom: 0;
		max-width: none;
	}

	.entry-content{
		@include media($mobileDown){
			display: flex;
			flex-direction:column;
		}
		
	}

	.img-clip{
		width:180px;
		height:180px;
		margin:2em auto;
		@include media($mobile){
			float:left;
			margin:0 2em 2em 0;
		}
		@include media($mobileDown){
			order:2;
		}
		
		img{
			max-width: 220px;
    		left: -27px;
    		top: -58px;
			clip: auto;
		}
	}

	p{
		font-size: 1.2rem;
    	line-height: 1.65em;
	}

	#home-navigation{
		clear:both;
		margin:50px 0 0 0;
		margin-left:-$sidePad;
		margin-right:-$sidePad; 
		background: #000;

		ul{
			@include fill-parent();
			margin: 0 auto;
			padding: 0;
			position: static;
			max-width: 1200px;
		}

		li:first-child{
			display:none;
		}

		li{
			@include span-columns(6);
			@include media($tablet){
				@include span-columns(3);
			}
			@include media($mobileDown){
				width:100%;
				display: block;
			}
		
		}

		a{
			display: block;
			height:200px;
			line-height: 170px;
			background:#000;
			text-align: center;
			transition:all .25s;
			font-size:1rem;
			text-transform: uppercase;
			font-weight: bold;
			font-family: $headerFont;
			text-decoration: none;
			color:$red;
			border-bottom:1px solid #333;
			border-left:1px solid #333;
			@include media($mobileDown){
				height:auto;
				line-height: 1.2em;
			}


			&:hover{
				svg{
					fill:$red;
				}
			}
		}

		li:last-child a{
			border-right:1px solid #333;
		}
	}

	.effect-layla a {
		position: relative;
		padding-top:20px !important;
		transition:all .35s !important;
		&:hover{
			padding-top:15px !important;
		}
		span:before,
		span:after {
			content:'';
			position: absolute;
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
		}


		span:before {
			top: 50px;
			right: 10px;
			bottom: 50px;
			left: 10px; 
			border-top: 1px solid $darkPrime;
			border-bottom: 1px solid $darkPrime;
			-webkit-transform: scale(0,1);
			transform: scale(0,1);
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
		}

		span:after {
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			border-right: 1px solid $darkPrime;
			border-left: 1px solid $darkPrime;
			-webkit-transform: scale(1,0);
			transform: scale(1,0);
			-webkit-transform-origin: 100% 0;
			transform-origin: 100% 0;
		}

		&:hover span:before,
		&:hover span:after {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}

		&:hover span:after{
			-webkit-transition-delay: 0.15s;
			transition-delay: 0.15s;
		}
	}

	/************* Takiri *************/
	.link--takiri a{
		position: relative;
		&:hover{
			color:#000 !important;
			background:$red !important;
			svg{
				fill:#000 !important;
			}
		}
	}
	.link--takiri a:hover span{
		font-weight: bold;
	}
	.link--takiri a:hover::before {
	    -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	    transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	}

	.link--takiri a span{
		z-index: 20;
		position: relative;

	}
	.link--takiri a::before {
	    content: '';
	    position: absolute;
	    height: 3px;
	    width: 71%;
	    top: 46%;
	    margin-top: 5%;
	    left: 15%;
	    z-index: -1;
	    background: #f9f9f9;
	    transform: rotate(45deg) scaleX(0);
	    transition: transform .5s;
	    z-index: 10;

	}

	.entry-content{
		max-width: 800px;
		margin:0 auto;
	}

	/*-----------------------------------------
	# Home Animation
	---------------------------------------*/
	
	.img-clip.spin{
	    transform: rotateY(360deg);
	}

	#home-navigation a{
		transition:width .5s, height .5s;
	}

	&.home-animate{
		#home-navigation .selected{
			position: fixed;
			top:0;
			left:0;
			width:100vw;
			height:100vh;
			line-height: 100vh;
			font-size:20px;
			background: #000;
			color:$red;

			svg{
				fill:$red;
			}
		}
	}
}