/*-----------------------------------------
# 
# Portfolio Page
#
------------------------------------------*/

.page-template-portfoliopage{
	 .site-content{
	 	text-align: center;
	 }
}

#portfolio{
	@include outer-container;  

	@supports (display:flex){
		display:flex;
		flex-wrap: wrap;
		flex-direction:row;
		margin-bottom: 50px;
	}

	.portfolio-item{
		width:25%;
		min-height: 200px;
		float:left;
		background: $red;
		text-align: center;
		position: relative;
		overflow: hidden;
		@supports (display:flex){
			display:flex;
			flex-direction: column;
			 align-items: center;
		}
		@include media($tabletDown){
			width:50%;
			max-width: 320px;
		}
		@include media($mobileDown){
			width:100%;
			
			margin-left:auto;
			margin-right: auto;

		}

		&:before{
			content: "";
			display: block;
			padding-top: 100%; 	/* initial ratio of 1:1*/
		}

		.thumbnail{ 
			max-width: none;
			width:110%;
			height: 110%;
			display: block;
			position: absolute;
			left:-5%;
			right:-5%;
			top:-5%;
			bottom:-5%;
			transition:all .25s;
		}

		.port-title{
			margin:0;
			padding:15px 20px;
			font-size:1.25rem;
			word-wrap: break-word;
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			color:#fff;
			transition:all .25s;
			background: rgba(0,0,0,.5);

			/*center align with fallback*/
			padding-top:40%;
			@supports (display:flex){
				padding-top:0;
				display: flex;
				flex-direction:column;
				align-items:center;
				justify-content: center;
			}
		
			.modal-trigger{
			}
		}

		&:hover{
			.thumbnail{
			left:0;
			right:0;
			top:0;
			bottom:0;
			width:100%;
			height:100%;
			}
			.port-title{
				background: rgba(0,0,0,.8);
			}
		}


		/*** popup ****/
		.modal-inner{
			img{
				border:2px solid $darkPrime;
				margin-top:0.25em;
				margin-right: 2em;
				margin-bottom: 1em;
				transition:all .25s;
				@include media($tablet){
					float:left;
					max-width: 50%;
				}
			}

			ul{
				overflow: hidden;
			}
		}



	}
}