/*****************************
Theme Stylings
******************************/

body{
	
}

// .site{
// 	overflow: hidden;
// 	//background:#000 url(../img/bg-main-small.jpg) top center no-repeat;
// 	background-color:#000;
// 	background-size:contain;
// 	background-attachment: fixed;
// 	background-position: top center;

// 	background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20%20%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20%20%20%20%20width%3D%221500%22%20height%3D%22823%22%0A%20%20%20%20%20viewBox%3D%220%200%201500%20823%22%3E%0A%20%20%3Cfilter%20id%3D%22blur%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%2220%2020%22%20edgeMode%3D%22duplicate%22%20/%3E%0A%20%20%20%20%3CfeComponentTransfer%3E%0A%20%20%20%20%20%20%3CfeFuncA%20type%3D%22discrete%22%20tableValues%3D%221%201%22%20/%3E%0A%20%20%20%20%3C/feComponentTransfer%3E%0A%20%20%3C/filter%3E%0A%20%20%3Cimage%20filter%3D%22url%28%23blur%29%22%0A%20%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22data%3Aimage/jpeg%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAACgAAAAXCAYAAAB50g0VAAAL5klEQVRIiSXOWVAb9oHA4T83iEMSkhASkhCSLJAQAiEQSCDMfYsbI0AYsDE3GLBNzOELbByMbcDG2NiJz8S1Haeb2mm2aZrNumm7TTLttLOZ2Z192Zm87L70pbPvv33o8/fyiWmPlotNDtaa7azWpXO5xcSVNgMXGxSsNSm4ElByqy+DrS4da00qNrtM3Aza2eq2sdNjZy9o4W6fmYMBG/eHnBwMutg7ms9un5vrQTd3j5VzpTOfC8053B6q4GaohM0eD/dGq9jocnGpPZu1Dgfn2+0sB6wsN9u50J7LRm8x1wfLEOdqjGy2O9jqymajzcLVViNXW3VcbdNyvVPH1dYU7gxY2Ok1cqU9les9GeyGstjpt7F/NJtbPencCaZzq9vAbnc6+yE7e6EcbgYd3OzP4+ZAIduDXtY6nGz1ebkRKuVCex6b/T62hw9zutbCfFUG8zUmlgJ2rgSL2Az5WQ8Ws9KWh7jSoGC3O52no3m8nCni0fEc9oImtjv1bHWkcasvgycTeTw4YeNGXxrboTS2j+q4EdKwN5zOq9k8Pptz83Qkkw+GLHw8k8+TSRd3huwcjOWzEbRyMFPGjWPFbA362B2t5nK/n72pVv755gJ74wG2BivZ6POzNVjN9mgjW8P1nO8q4XSjC3GjOZb9HiWfTGXz+XvFvJjM4X4ogzvBdHaPGNjuMfBoIocPx2zsDOi4fUzP/qiB/XE9j2YsfH2pkt9druPtmWJezebxi2UfP5t3sTdk4c6Ijff7TVwbzubq0TxuT1fxbLWfg9O93JzsYG+uj/ePNXE+WMHZVi+nW4qYbypgpi6PuUY3i21exL3OKB4EJTzql/FBbzJ7nVJudSSz36vlgyELD4Ys/GzezdNpJ3eOZXAwbubBlJmDKSOPZzP5dMHD20U/n8wW8tFEDs9P5rJ/3MRau5RzbVLW+7RMV8ex2K5n72QVD1d72Znt5ES1C58mliqTAo8qmvwkQVFKFIcNiVSbZbQ60wiVZCHutQk+PprEB90xXK8T7AYi2etK5FanjP1+DQ9HLLyYd/F02sH9MSvPT+Xz6bKXV0sefr5SytOJfJ5NFvJ8xsOzaTcHx2xcO6LlXCCRhZpItketrIcyeLJaz4uNXm5MNrIaqmGhvZLR2hL6SvOptGgo0iRRa0ujq8hGp8dKc246zbl6xIuQnG+XnPx8VMvtlgg+Hk7hxbiBe73J3A2lcH9Yx7PpbB5P2HgylcOXaw38cbeX73b6+f7WIG9WA7w8U8Ob8y18ulTHTsjOWlsaF1vVnKyI5lSDlNVOPbdnSrkQyidYqKbZoWbQ72Jj/CgDlV4qbOl4DMnUOI20F9mpdejx6BJxqaMRfzzn5X8+CPLurJv9jng+m7Hy1bkCXkybeb1g4+vLfn67WcsXq6V8dsbLu41mvr/Rw7v1Nr66EOAPu4N8sdbGN1v9fH6xjY0OE4vVcpbrVYwUClZbU1npMPBeu4nj5akMlqVzpMhEoyOD6fZ6DmfqcaYmkqOWUG7X0VRgpcZpoDpHT8BjQXx5Mo/v1ip5PWZlu0nCLxfd/HW/jcdjRj5fKeDvv1nk/75a5E977fzXowF++niU/7jby1dLfn56eoJ3m808nHTy0ZyH5/MlnKtXMlMczfkGNeeaUpnyx3H9WB77C5XMtWVSZ5dQZknEa1JiU8SSp5dikYeTpYqmIENGXX46FQ41JYdkDDYUIM7mCY6mCi6WCC6WR7AZkPJw5BA7vRoORkz896tx/uVqNS/nsvlmvYRfLbv463YNP+7U8JeblfzrVR+/WMrl8ZiF3Z5Urrdr2A1mcK1Tz3xpNK9WavjiRg93F6sYb0onVG2k87CFEnsq2Zp4srUSiiwKSu0pjHX4Ge3wUZgeg00hsCcLxEGniqlMwXaLkmmn4FSxYKlSwqwvjFOHo1mulXDKL7jQEMa9QRn7wQh+u27lf5/X8rdPm+GHWd5dyeFefzy/Wnbxw/UGPhzKYLU8nGtdKbwf1HJ/oZDFI3rqnYL6wnjqvVrKC9Nprc4nUGrHa5GTEibor3OyNFLHQG0m80EvveUZiDczDv5pysHr6Vy6UwXbRzLYH85l1idhpSGFc00p7I9k8mDUxJMJHZ+fNfJvW9n850E+f3/bzN/etPCHrVxeTat5c8rC76/4ebfm5+W0jTshNeeboziYtbE37+JMv5HBxjTqfSo8DjklzjQsckGBPp72EgsHlye4vdxPqNrIeHMmRyvTEFvV4bwes/JowEh3quDD4y4eTvqY9iZwoTWD9W4LNwdtbBxJ5VpQzpdr+fxwq4Q/7bj594NiPj9n5OGolGfjqbyeP8QnMxa+Wi3kdxt+Xs1bWKoWvFcvuNQnZSWkYaRJRahWT0+tnXqPiXKbhsosNQs9lewtD7LY66XGFk6JTlCbKRBrXsGdlgQ2a2KZdwtWq5I4XS4j5BCc8Caw0ZfD5oCT7eEcVhplrAcS2R/S8nohi4NhJU/mMlgNCO6NpPHNZhWfnXHxajaL77bK+fGggbcrVp4v6Hi74eb5eQ8zjTI6C2LpLtZSnaWgyWnkUKwgO0HgTQuj2ZnARIOJtWNuPrnWg1jOFdwNJHG+WLDTquKkR3C6IoEJbxxBh6DZLFgLOrk15qfbKmjVCYbsgpVyJVOeSMb8ESw0J7E5eIjtoxauBw28PJnLt1fL+PpiLj8eHOanl63w57Pwl3V+f7efrcF8ZqvM9LnSyU8Kx69PpsIopdkup9WRQGdeNKtBKx9dakL0KgXPhmws+SL5cDib9RYt98eLeK9eS1WqwCsVfLTcxeMzHdSlCaZLtCzVWZkrSWPUI6OvIIpqs6AhQzDqi2fmcBIdZkHQKjjfFMfekJpHUybeXvLxw4N+/vx4mjdXB7g7GeD6cBslGhlt7hzsCWEUp8VRk5lIiU4w0WDidLcN0ZQqWK7TMV+uZrFOz3hJMgfTVcxUaClNFngSBFdDXu7NNGISguWWbL69e5ojWdEUSATj1UreO2KmNy+SM01mOnNiKVIJyvSCQqXAJARlakHAFkdjZgxtrmQmm5yMVWVzosKFz6ynxu3CYzHiNmqxKiXYU+KxyMPxZ6kRPoXgSK6MgDWGPreSgDWGuQY7bTYJHqnAESU4WW9jotJMdqRgrsHOeshPXpxgPpBNsFjKQKmc9uxoFlqc9BQZKDskxW1IxCgRVFkNlOpTOWzSYk+OxiwLozQzBa9GgksVR21BHiW5uShiYkgMC0MTL8FlNmFSyNAlShD5UoFPHUlugqAyPYECuaDOIqdALiiQCwqT/+ENVgVlabG4ZYKHK+Pcnhug062jNCOCVCE4UWXn1wcbDFS4sakkdFSVMhXqpciQQX1OPmvTswwHmtEnxaGKFDhkCQQKctFKJNgNBjSJiehkMswqJaXOHIptVvIyDAh7YhTZ0khMUQK3OgFrXBi5ilgyJeG4VBIK1FJM0QKPRk65RYNKCH55cJPvP/0YpRD0VDhIjxN0erK4eLyfQmMaiogIanxlrM4vUen0UXIon43TF3n/7BrHgyH6W9s51tLGWHsnJdkOGvx+cs1mzGo1EiFQREViVSspOGRCpMVEk5EkQR8Xi0WeiC42BrMsgfR4CWZZApqoSFwGLamRETg0KpKEIFhTQYvPS5IQaOMEuXo5dnkChxITGWzt4PTkAnUVTWSZ8ijM8pESo6WrrpepoTkGe49TX9FAUaaLeCFw6I3YDQYUMTFYtVq0CfFo4iVY1Uocei0iUQiU0dGoYmJQxcSgiIoiVSIhJTYWRVQUiUJg1+mQCIEuKYlUiQRZeDgSIcjSasg2pGCUS8hSKrDIFVR5/GxcvMbzj94wMrxAvq0MVVw6mQY3GpUFSawCSZycwc4BJgdGkEVGY0hOxqhU0lJZiT/XiSVFxaEUBQZpAiI+TBAnBPFhgoRwgSw6kqTIcBIjwkgIFyRFhiONikAWHYk8JgppVAQaaSLGFCXqpDg0sph/ZFOUeG12YkQ4sVEJnDlziZrqLmRxacSHq0iOT0OZnE5qqpE4iZTjfYMcaWwhXoRhNxhwZ2bS3dCAy2xCL03Cl51FRX4u/w9Sf6ZlC5PrAAAAAABJRU5ErkJggg%3D%3D%22%0A%20%20%20%20%20%20%20%20%20x%3D%220%22%20y%3D%220%22%0A%20%20%20%20%20%20%20%20%20height%3D%22100%25%22%20width%3D%22100%25%22/%3E%0A%3C/svg%3E);
// 	@include media($mobile){
// 		background-size:cover;
		
// 	}

// 	&.site-enhanced{
// 		background-image: url(../img/bg-main.jpg);
// 	}	
// }

.site{
	position: relative;
	overflow:hidden;
}

.site-background{
	overflow: hidden;
	background-color:#000;
	background-size:cover;
	background-attachment: fixed;
	background-position: top center;

	transform: translateZ(0);
	position: absolute;
	left:-2.5%;
	top:-2.5%;
	width:105%;
	height:105%;
	z-index: -1;
}
.site-background-enhanced{
	animation: sharpen .5s both;
}
@keyframes sharpen {
	from {
	  filter:blur(5px);
	  
	}
	to {
	  filter:blur(0px);
	}
}


.section-inner{
	max-width: 1200px;
	margin:0 auto;
}

.site-header,
.site-content,
.site-footer{
	padding:0 $sidePad;
	
}

/*-------------------------------------
# Header
---------------------------------------*/
.site-header{
	z-index: 100;
	background: #000;
	background-color:rgba(0,0,0,.5);
    transition: top .25s;
    @include clearfix(); 
    @include media($mobile){
    	margin-bottom: 30px;
    	top:-50px;/*transition for fixed menu*/
    	margin-bottom: 20px;
    }
    @include media($mobileDown){
    	padding-bottom:20px;
    	position: relative;
    	top:0;
    	padding-top:125px;
    }

    .site-branding{
    	max-height: 500px;
    	overflow: hidden;

    }
}

.admin-bar{
	.site-header.header-fixed{
		@include media($mobile){
			top:32px;
		}
		
	}
}


.site-title{
	display: block;
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	padding:10px 15px;
	color:#000;
	font-size:1.5625rem;
	transition:all .5s;
	@include clearfix();
	
	@include media($mobile){
		padding:20px 0px;
	}



	&:hover{
		text-decoration: none;
		opacity:.8;
	}
	&:focus{
		outline: none;
	}

	/* homepage*/
	a{
		color:#000;
		&:hover{
			text-decoration: none;
		}
	}

	.name{
		line-height: 1.2em;
		color:#fff;
		text-align: center;
		vertical-align: middle;
		font-weight: normal;
	}
}

.img-clip{
	position: relative;
	z-index: 100;
	display: none;
	margin:15px auto;
	width:100px;
	height:100px;
	border-radius: 50%;
	overflow: hidden;
	border:3px solid $red;
	box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.75);
	transition:all 1s;
	@include media($mobile){
		display: block;
		margin:0 auto 20px auto;
	}

	.site-title:hover &{
	    transform: rotateY(360deg);
	}

	img{
		max-width: 120px;
	    position: absolute;
	    left: -15px;
	    top: -28px;
	    clip: rect(10px,110px,125px,10px);
	    transition:all .5s;
	}

	&.hid{
		visibility: hidden;
	}
}

/*-------------------------------------
# Menu Button
---------------------------------------*/



.menu-toggle{
	position: absolute;
	top:20px;
	left:50%;
	margin-left:-50px;	
	z-index: 100;

	background: $red;
    border: 2px solid $red;
    color: transparent;
    font-size: 0;

    visibility: hidden;

	background:url(../img/starbucks_in_the_woods.jpg);
	background-size:120px auto;
	background-position: -13px -28px;
	border:2px solid $red;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: none;
	transition:left .75s, top .75s, visibility .75s;
	@include media($mobileDown){
		left:50%;
		margin-left:-50px;
		visibility: hidden;
		opacity: 1;
		visibility: visible;
	}

	&:hover,
	&:focus{
		box-shadow: inset 0 1px 0 hsla(0,0%,100%,.5), inset 0 15px 17px hsla(0,0%,100%,.5), inset 0 -5px 12px rgba(0,0,0,.05);
		border-color:$red;
		outline: none;
	}

	&:active{

	}


	&[aria-expanded="true"]{
		
		position: fixed;

		@include media($mobileDown){
			opacity: 1 !important;
			left:50% !important;
			margin-left:-50px !important;
		}
	}

}

.header-fixed .menu-toggle{
	opacity:1;
	visibility: visible;
}



.headroom--pinned.header-fixed{
	.menu-toggle{
		opacity:1;
   		transition:opacity .5s;
	}
  
}

.headroom--unpinned.header-fixed {
	.menu-toggle{
    	opacity: 0;
    }
}



/*---------------------------------------
# Primary Menu
-----------------------------------------*/

#site-navigation{
	background:#000;
	background:rgba(0,0,0,.6);
	margin:-$sidePad;
	margin-top:0;
	margin-bottom: 0;
}

#primary-menu{
	max-width: 1200px;
	margin:0 auto;
	padding:0;
	display: none;
	@include clearfix();
	@include media($mobile){
		display: block; 
	}

	@include media($mobileDown){
		position: fixed;
		left:0;
		top:0;
		//bottom:0;
		margin:0;
		width:100%;
		background: #000;
		padding-top:150px;
	}

	&[aria-expanded=true]{
		display: block;		
	}

	li{
		display: block;
		width:100%;
		border-bottom:1px solid #333;

		@include media($mobile){
			float:left;
			width:20%;
			border-bottom:none;
		}
		&:first-child {
			@include media($mobileDown){
				border-top:1px solid #333;
			}

			a{
				border-left:none;
			}
		}
	}

	a{
		display: block;
		line-height: 1em;
		padding:18px 0;
		text-align: center;
		transition:all .5s;
		font-size:1rem;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $headerFont;
		text-decoration: none;
		color:$red;
		@include media($mobile){
			border-left:1px solid #333;
		}

		svg{
			display: inline-block;
			width:20px;
			height:20px;
			vertical-align: middle;
			fill:$red;
			margin-right: 10px;
	    	position: relative;
	    	top:-1px;
	    	transition:all .5s;
		}

		span{
			display: inline-block;
			vertical-align: middle;
		}

		&:hover{
			color:#000;
			background:$red;

			svg{
				fill:#000;
			}
		}
	}

	
}

/*-----------------------------------------
#Sticky Menu
---------------------------------------*/
@include media($mobile){
	.site-header.header-fixed{
	
		position: fixed;
		top: 0px;
	    left: 0;
	    padding:0;
	    background: none;

		.menu-toggle{
			opacity: 1;
			visibility: visible;
			top:300px;
			left:-30px;
			margin-top:-50px;
			margin-left:0;
			&:hover{
				left:-20px;
			}
			
		}
	   
	    .site-branding{
	    	display: none;
	    }

	    #site-navigation{
	    	width:0;
	    	height:100vh;
	    	overflow: hidden;
	    	background: #000;
	    	border-right:1px solid $red;
	    	transition:all .5s;


	    	ul{
	    		position: relative;
	    		margin-left:100px;
	    		height:100vh;
	    		border-left:1px solid $red;

	    		li{
	    			min-width:200px;
	    			width:100%;
	    			float:none;
	    			border:none;
	    			border-bottom:1px solid $red;

	    			a{
	    				border:none;
	    			}
	    		}
	    	}

	    	&.toggled{
	    		width:50vw;
	    	}

	    }
	}
}

.toggled{
	& + #menu-overlay{
    	background: rgba(0,0,0,.85);
    	position: fixed;
    	top:0;
    	bottom:0;
    	left:0;
    	width:100%;
    	height: 100%;
    	z-index: -1;
    }
}



@include media($mobileDown){

	.site-header.header-fixed{

		.menu-toggle{
			position: fixed;
			left:-30px;
			top:21px;
			margin-left:0;
		}

		#primary-menu{
			position: fixed;
		}

	}

	.site-content{
		padding-top:10px !important;
	}
}




/*-------------------------------------
# Content Page
---------------------------------------*/

.site-content{
	background:#fff;

}

.content-area{
	padding:25px 0;
	@include media($mobile){
		
	}
	.site-main{
		max-width: 800px;
		margin:0 auto;
		
		@include media($mobileDown){
			padding:0;
		}
	}

	h1{
		text-align: center;
	}
}

/*----------------------------------------
# Resume
------------------------------------------*/

.resume-wrap{
	margin-top:50px;
	padding-top:30px;
	border-top:5px solid #000;

	.res-block{
		padding-bottom: 20px;
		border-bottom: 1px solid #000;
		margin-bottom:30px;
	}

	h3{
		margin-top:0;
		padding-right:20px;
		margin-bottom: 0;
		@include media($mobile){
			margin-bottom: 1em;
			float:left;
		}
	}

	.date{
		float:right;
		font-weight: bold;
		@include media($mobileDown){
			float:none;
			margin-bottom:20px;
		}
	}

	.res-item-description{
		clear:both;
		margin-top:20px;
		max-width: 500px;
	}

	.res-block-content{
		ul{
			padding-left:.75em; 
			@include media($mobile){
				column-count: 3;
			}

			li{
				list-style: none;
				position: relative;
				padding-left:20px;
				&:before{
					content:'';
					width:6px;
					height: 6px;
					background: #000;
					border-radius: 50%;
					display: block;
					position: absolute;
					left:0;
					top:12px;
				}
			}
			
		}
	}
    
}


/*----------------------------------------
# Footer
------------------------------------------*/
.site-footer{
	max-width: none;
    color:#fff;
	clear:both;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:20px;
    background:rgba(0,0,0,.5);
}








