/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
//http://paletton.com/palette.php?uid=10G0u0ka%2BkQ4AuB7Spbdkgajfdj
$red: #A68D6D;//#D46A6A;
$darkred: darken( $red, 30% );
$menucolor:#000;
$headerColor:#404040;

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

$headerFont:'Telex', sans-serif; 
$bodyFont:'Georgia', serif;

$boxshadow: 10px 10px 11px -8px rgba(0,0,0,0.75);

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
$max-width: 1200px;
$sidePad:25px;

$smallScreen: 640px;
$mediumScreen: 768px;
$largeScreen: 960px;
$ex-largeScreen: 1200px;
$fullWidth: 1600px;